<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [28]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.55.5)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [29]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [30]:
print(df.dtypes) #data types

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

In [31]:
df.count

<bound method DataFrame.count of        ResponseId                      MainBranch                 Age  \
0               1  I am a developer by profession  Under 18 years old
1               2  I am a developer by profession     35-44 years old
2               3  I am a developer by profession     45-54 years old
3               4           I am learning to code     18-24 years old
4               5  I am a developer by profession     18-24 years old
...           ...                             ...                 ...
65432       65433  I am a developer by profession     18-24 years old
65433       65434  I am a developer by profession     25-34 years old
65434       65435  I am a developer by profession     25-34 years old
65435       65436  I am a developer by profession     18-24 years old
65436       65437     I code primarily as a hobby     18-24 years old

                Employment                            RemoteWork   Check  \
0      Employed, full-time                                Remote  Apples
1      Employed, full-time                                Remote  Apples
2      Employed, full-time                                Remote  Apples
3       Student, full-time                                   NaN  Apples
4       Student, full-time                                   NaN  Apples
...                    ...                                   ...     ...
65432  Employed, full-time                                Remote  Apples
65433  Employed, full-time                                Remote  Apples
65434  Employed, full-time                             In-person  Apples
65435  Employed, full-time  Hybrid (some remote, some in-person)  Apples
65436   Student, full-time                                   NaN  Apples

                                        CodingActivities  \
0                                                  Hobby
1      Hobby;Contribute to open-source projects;Other...
2      Hobby;Contribute to open-source projects;Other...
3                                                    NaN
4                                                    NaN
...                                                  ...
65432                      Hobby;School or academic work
65433           Hobby;Contribute to open-source projects
65434                                              Hobby
65435  Hobby;Contribute to open-source projects;Profe...
65436                                                NaN

                                                 EdLevel  \
0                              Primary/elementary school
1           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2        Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3      Some college/university study without earning ...
4      Secondary school (e.g. American high school, G...
...                                                  ...
65432       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65433                                                NaN
65434       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65435  Secondary school (e.g. American high school, G...
65436                                                NaN

                                               LearnCode  \
0                                 Books / Physical media
1      Books / Physical media;Colleague;On the job tr...
2      Books / Physical media;Colleague;On the job tr...
3      Other online resources (e.g., videos, blogs, f...
4      Other online resources (e.g., videos, blogs, f...
...                                                  ...
65432  On the job training;School (i.e., University, ...
65433                                                NaN
65434  Other online resources (e.g., videos, blogs, f...
65435  On the job training;Other online resources (e....
65436                                                NaN

                                         LearnCodeOnline  ... JobSatPoints_6  \
0                                                    NaN  ...            NaN
1      Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2      Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3      Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4      Technical documentation;Blogs;Written Tutorial...  ...            NaN
...                                                  ...  ...            ...
65432                                                NaN  ...            NaN
65433                                                NaN  ...            NaN
65434  Technical documentation;Stack Overflow;Social ...  ...            NaN
65435  Technical documentation;Blogs;Written Tutorial...  ...            0.0
65436                                                NaN  ...            NaN

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0                NaN            NaN            NaN             NaN
1                0.0            0.0            0.0             0.0
2                NaN            NaN            NaN             NaN
3                NaN            NaN            NaN             NaN
4                NaN            NaN            NaN             NaN
...              ...            ...            ...             ...
65432            NaN            NaN            NaN             NaN
65433            NaN            NaN            NaN             NaN
65434            NaN            NaN            NaN             NaN
65435            0.0            0.0            0.0             0.0
65436            NaN            NaN            NaN             NaN

      JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly  \
0                 NaN                    NaN        NaN                 NaN
1                 0.0                    NaN        NaN                 NaN
2                 NaN  Appropriate in length       Easy                 NaN
3                 NaN               Too long       Easy                 NaN
4                 NaN              Too short       Easy                 NaN
...               ...                    ...        ...                 ...
65432             NaN                    NaN        NaN                 NaN
65433             NaN                    NaN        NaN                 NaN
65434             NaN                    NaN        NaN                 NaN
65435             0.0                    NaN        NaN                 NaN
65436             NaN                    NaN        NaN                 NaN

      JobSat
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
65432    NaN
65433    NaN
65434    NaN
65435    NaN
65436    NaN

[65437 rows x 114 columns]>

In [32]:
count = df.count()
print(count)

ResponseId             65437
MainBranch             65437
Age                    65437
Employment             65437
RemoteWork             54806
                       ...
JobSatPoints_11        29445
SurveyLength           56182
SurveyEase             56238
ConvertedCompYearly    23435
JobSat                 29126
Length: 114, dtype: int64

In [33]:
df.columns[df.isnull().any()]   #Find the missing values for all the dataset.

Index(['RemoteWork', 'CodingActivities', 'EdLevel', 'LearnCode',
       'LearnCodeOnline', 'TechDoc', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=109)

In [34]:
df.shape[1]

114

In [35]:
df.shape[0]

65437

In [36]:
df.isnull().sum() #missing values

ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

In [37]:
# combining all

In [38]:
# Write your code here

def summarize_dataset(df):
    summary = {
        "Column": df.columns,
        "Data Type": df.dtypes,
        "Non-Null Count": df.count(),
        "Missing Values": df.isnull().sum()
    }
    return pd.DataFrame(summary)

print(summarize_dataset(df))

                                  Column Data Type  Non-Null Count  \
ResponseId                    ResponseId     int64           65437
MainBranch                    MainBranch    object           65437
Age                                  Age    object           65437
Employment                    Employment    object           65437
RemoteWork                    RemoteWork    object           54806
...                                  ...       ...             ...
JobSatPoints_11          JobSatPoints_11   float64           29445
SurveyLength                SurveyLength    object           56182
SurveyEase                    SurveyEase    object           56238
ConvertedCompYearly  ConvertedCompYearly   float64           23435
JobSat                            JobSat   float64           29126

                     Missing Values
ResponseId                        0
MainBranch                        0
Age                               0
Employment                        0
RemoteWork                    10631
...                             ...
JobSatPoints_11               35992
SurveyLength                   9255
SurveyEase                     9199
ConvertedCompYearly           42002
JobSat                        36311

[114 rows x 4 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [39]:
# List of numerical columns to analyze (adjust as necessary)
numerical_columns = df.select_dtypes(include='number').columns

# Iterate through each numerical column and calculate statistics
for column in numerical_columns:
    print(f"Statistics for column: {column}")
    
    # Calculate the mean
    mean = df[column].mean()

    # Calculate the median
    median = df[column].median()

    # Calculate the mode
    mode = df[column].mode().values[0] if not df[column].mode().empty else None

    # Calculate the standard deviation
    std_dev = df[column].std()

    # Find the minimum value
    min_val = df[column].min()

    # Find the maximum value
    max_val = df[column].max()

    # Output the results
    print("Mean:", mean)
    print("Median:", median)
    print("Mode:", mode)
    print("Standard Deviation:", std_dev)
    print("Minimum Value:", min_val)
    print("Maximum Value:", max_val)
    print("=" * 50)

Statistics for column: ResponseId
Mean: 32719.0
Median: 32719.0
Mode: 1
Standard Deviation: 18890.179119496635
Minimum Value: 1
Maximum Value: 65437
==================================================
Statistics for column: CompTotal
Mean: 2.9638411381149976e+145
Median: 110000.0
Mode: 100000.0
Standard Deviation: 5.444117135142298e+147
Minimum Value: 0.0
Maximum Value: 1.0000000000000002e+150
==================================================
Statistics for column: WorkExp
Mean: 11.46695663901814
Median: 9.0
Mode: 3.0
Standard Deviation: 9.168708536230723
Minimum Value: 0.0
Maximum Value: 50.0
==================================================
Statistics for column: JobSatPoints_1
Mean: 18.5810939844496
Median: 10.0
Mode: 0.0
Standard Deviation: 25.96622143303675
Minimum Value: 0.0
Maximum Value: 100.0
==================================================
Statistics for column: JobSatPoints_4
Mean: 7.5221396250808015
Median: 0.0
Mode: 0.0
Standard Deviation: 18.422660606642502
Minimum Value: 0.0
Maximum Value: 100.0
==================================================
Statistics for column: JobSatPoints_5
Mean: 10.06085733229064
Median: 0.0
Mode: 0.0
Standard Deviation: 21.83383579723883
Minimum Value: 0.0
Maximum Value: 100.0
==================================================
Statistics for column: JobSatPoints_6
Mean: 24.34323191850594
Median: 20.0
Mode: 0.0
Standard Deviation: 27.089360064172926
Minimum Value: 0.0
Maximum Value: 100.0
==================================================
Statistics for column: JobSatPoints_7
Mean: 22.965220218690572
Median: 15.0
Mode: 0.0
Standard Deviation: 27.017739704893856
Minimum Value: 0.0
Maximum Value: 100.0
==================================================
Statistics for column: JobSatPoints_8
Mean: 20.278165059750137
Median: 10.0
Mode: 0.0
Standard Deviation: 26.108110241474208
Minimum Value: 0.0
Maximum Value: 100.0
==================================================
Statistics for column: JobSatPoints_9
Mean: 16.169432373709938
Median: 5.0
Mode: 0.0
Standard Deviation: 24.845032218429335
Minimum Value: 0.0
Maximum Value: 100.0
==================================================
Statistics for column: JobSatPoints_10
Mean: 10.955713073005093
Median: 0.0
Mode: 0.0
Standard Deviation: 22.90626262638887
Minimum Value: 0.0
Maximum Value: 100.0
==================================================
Statistics for column: JobSatPoints_11
Mean: 9.95394803871625
Median: 0.0
Mode: 0.0
Standard Deviation: 21.775651600663775
Minimum Value: 0.0
Maximum Value: 100.0
==================================================
Statistics for column: ConvertedCompYearly
Mean: 86155.28726264134
Median: 65000.0
Mode: 64444.0
Standard Deviation: 186756.97308629757
Minimum Value: 1.0
Maximum Value: 16256603.0
==================================================
Statistics for column: JobSat
Mean: 6.9350408569662845
Median: 7.0
Mode: 8.0
Standard Deviation: 2.0882594128016483
Minimum Value: 0.0
Maximum Value: 10.0
==================================================

In [40]:
# Write your code here
from scipy import stats

# Function to generate basic statistics
def generate_statistics(df):
    statistics = pd.DataFrame(columns=['Mean', 'Median', 'Mode', 'Standard Deviation', 'Min', 'Max'])

    for column in df.select_dtypes(include=['number']).columns:
        mean = df[column].mean()
        median = df[column].median()
        mode = df[column].mode().values[0] if not df[column].mode().empty else None
        std_dev = df[column].std()
        min_val = df[column].min()
        max_val = df[column].max()

        statistics.loc[column] = [mean, median, mode, std_dev, min_val, max_val]

    return statistics

# Generate and display statistics
stats_df = generate_statistics(df)
print(stats_df)

                              Mean    Median      Mode  Standard Deviation  \
ResponseId            3.271900e+04   32719.0       1.0        1.889018e+04
CompTotal            2.963841e+145  110000.0  100000.0       5.444117e+147
WorkExp               1.146696e+01       9.0       3.0        9.168709e+00
JobSatPoints_1        1.858109e+01      10.0       0.0        2.596622e+01
JobSatPoints_4        7.522140e+00       0.0       0.0        1.842266e+01
JobSatPoints_5        1.006086e+01       0.0       0.0        2.183384e+01
JobSatPoints_6        2.434323e+01      20.0       0.0        2.708936e+01
JobSatPoints_7        2.296522e+01      15.0       0.0        2.701774e+01
JobSatPoints_8        2.027817e+01      10.0       0.0        2.610811e+01
JobSatPoints_9        1.616943e+01       5.0       0.0        2.484503e+01
JobSatPoints_10       1.095571e+01       0.0       0.0        2.290626e+01
JobSatPoints_11       9.953948e+00       0.0       0.0        2.177565e+01
ConvertedCompYearly   8.615529e+04   65000.0   64444.0        1.867570e+05
JobSat                6.935041e+00       7.0       8.0        2.088259e+00

                     Min            Max
ResponseId           1.0   6.543700e+04
CompTotal            0.0  1.000000e+150
WorkExp              0.0   5.000000e+01
JobSatPoints_1       0.0   1.000000e+02
JobSatPoints_4       0.0   1.000000e+02
JobSatPoints_5       0.0   1.000000e+02
JobSatPoints_6       0.0   1.000000e+02
JobSatPoints_7       0.0   1.000000e+02
JobSatPoints_8       0.0   1.000000e+02
JobSatPoints_9       0.0   1.000000e+02
JobSatPoints_10      0.0   1.000000e+02
JobSatPoints_11      0.0   1.000000e+02
ConvertedCompYearly  1.0   1.625660e+07
JobSat               0.0   1.000000e+01

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [53]:
# Write your code here

# Choose the column to analyze ("Country")
column_to_analyze = "Country"

# Inspect unique values in the column
unique_values = df[column_to_analyze].unique()
print("Unique values in the column:\n", unique_values)

# Identify potential inconsistencies:
# Step 1: Look for null or blank entries
null_or_blank = df[df[column_to_analyze].isnull() | (df[column_to_analyze].str.strip() == "")]
print("\nRows with null or blank values:\n", null_or_blank)

# Step 2: Detect values that seem irrelevant (e.g., numbers in "Country" column)
irrelevant_entries = df[df[column_to_analyze].str.isdigit() == True]
print("\nRows with irrelevant numeric entries:\n", irrelevant_entries)

# Step 3: Standardize formatting (e.g., capitalization, remove extra spaces)
df[column_to_analyze] = df[column_to_analyze].str.strip().str.title()

# Step 4: Re-check unique values after cleaning
cleaned_unique_values = df[column_to_analyze].unique()
print("\nCleaned unique values:\n", cleaned_unique_values)

Unique values in the column:
 ['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

Rows with null or blank values:
        ResponseId                                         MainBranch  \
43448       43449  I am not primarily a developer, but I write co...
43454       43455                     I am a developer by profession
43459       43460  I am not primarily a developer, but I write co...
43460       43461                     I am a developer by profession
43461       43462                     I am a developer by profession
...           ...                                                ...
65430       65431                              I am learning to code
65432       65433                     I am a developer by profession
65433       65434                     I am a developer by profession
65434       65435                     I am a developer by profession
65436       65437                        I code primarily as a hobby

                   Age                                         Employment  \
43448  35-44 years old  Independent contractor, freelancer, or self-em...
43454  25-34 years old                                Employed, full-time
43459  25-34 years old             Not employed, and not looking for work
43460  35-44 years old                                Employed, full-time
43461  25-34 years old                                Employed, full-time
...                ...                                                ...
65430  18-24 years old  Not employed, but looking for work;Employed, p...
65432  18-24 years old                                Employed, full-time
65433  25-34 years old                                Employed, full-time
65434  25-34 years old                                Employed, full-time
65436  18-24 years old                                 Student, full-time

                                 RemoteWork   Check  \
43448                                Remote  Apples
43454  Hybrid (some remote, some in-person)  Apples
43459                                   NaN  Apples
43460                                Remote  Apples
43461  Hybrid (some remote, some in-person)  Apples
...                                     ...     ...
65430                             In-person  Apples
65432                                Remote  Apples
65433                                Remote  Apples
65434                             In-person  Apples
65436                                   NaN  Apples

                                        CodingActivities  \
43448  Contribute to open-source projects;Bootstrappi...
43454  Professional development or self-paced learnin...
43459                                                NaN
43460                       I don’t code outside of work
43461           Hobby;Contribute to open-source projects
...                                                  ...
65430  Hobby;Professional development or self-paced l...
65432                      Hobby;School or academic work
65433           Hobby;Contribute to open-source projects
65434                                              Hobby
65436                                                NaN

                                               EdLevel  \
43448                                              NaN
43454                                              NaN
43459                                              NaN
43460  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
43461  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
...                                                ...
65430                                              NaN
65432     Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65433                                              NaN
65434     Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65436                                              NaN

                                               LearnCode  \
43448                                                NaN
43454                                                NaN
43459                                                NaN
43460  On the job training;Other online resources (e....
43461  On the job training;Other online resources (e....
...                                                  ...
65430                                                NaN
65432  On the job training;School (i.e., University, ...
65433                                                NaN
65434  Other online resources (e.g., videos, blogs, f...
65436                                                NaN

                                         LearnCodeOnline  ... JobSatPoints_6  \
43448                                                NaN  ...            NaN
43454                                                NaN  ...            NaN
43459                                                NaN  ...            NaN
43460  Blogs;How-to videos;Interactive tutorial;Video...  ...            NaN
43461  Technical documentation;Blogs;Written Tutorial...  ...            NaN
...                                                  ...  ...            ...
65430                                                NaN  ...            NaN
65432                                                NaN  ...            NaN
65433                                                NaN  ...            NaN
65434  Technical documentation;Stack Overflow;Social ...  ...            NaN
65436                                                NaN  ...            NaN

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
43448            NaN            NaN            NaN             NaN
43454            NaN            NaN            NaN             NaN
43459            NaN            NaN            NaN             NaN
43460            NaN            NaN            NaN             NaN
43461            NaN            NaN            NaN             NaN
...              ...            ...            ...             ...
65430            NaN            NaN            NaN             NaN
65432            NaN            NaN            NaN             NaN
65433            NaN            NaN            NaN             NaN
65434            NaN            NaN            NaN             NaN
65436            NaN            NaN            NaN             NaN

      JobSatPoints_11 SurveyLength SurveyEase ConvertedCompYearly JobSat
43448             NaN          NaN        NaN                 NaN    NaN
43454             NaN          NaN        NaN                 NaN    NaN
43459             NaN          NaN        NaN                 NaN    NaN
43460             NaN          NaN        NaN                 NaN    NaN
43461             NaN          NaN        NaN                 NaN    NaN
...               ...          ...        ...                 ...    ...
65430             NaN          NaN        NaN                 NaN    NaN
65432             NaN          NaN        NaN                 NaN    NaN
65433             NaN          NaN        NaN                 NaN    NaN
65434             NaN          NaN        NaN                 NaN    NaN
65436             NaN          NaN        NaN                 NaN    NaN

[6507 rows x 114 columns]

Rows with irrelevant numeric entries:
 Empty DataFrame
Columns: [ResponseId, MainBranch, Age, Employment, RemoteWork, Check, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, TechDoc, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, BuildvsBuy, TechEndorse, Country, Currency, CompTotal, LanguageHaveWorkedWith, LanguageWantToWorkWith, LanguageAdmired, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, DatabaseAdmired, PlatformHaveWorkedWith, PlatformWantToWorkWith, PlatformAdmired, WebframeHaveWorkedWith, WebframeWantToWorkWith, WebframeAdmired, EmbeddedHaveWorkedWith, EmbeddedWantToWorkWith, EmbeddedAdmired, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, MiscTechAdmired, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, ToolsTechAdmired, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, NEWCollabToolsAdmired, OpSysPersonal use, OpSysProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackAsyncAdmired, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, OfficeStackSyncAdmired, AISearchDevHaveWorkedWith, AISearchDevWantToWorkWith, AISearchDevAdmired, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOHow, SOComm, AISelect, AISent, AIBen, AIAcc, AIComplex, AIToolCurrently Using, AIToolInterested in Using, AIToolNot interested in Using, AINextMuch more integrated, AINextNo change, AINextMore integrated, AINextLess integrated, AINextMuch less integrated, AIThreat, AIEthics, AIChallenges, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Knowledge_8, Knowledge_9, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Frustration, ProfessionalTech, ProfessionalCloud, ProfessionalQuestion, ...]
Index: []

[0 rows x 114 columns]

Cleaned unique values:
 ['United States Of America'
 'United Kingdom Of Great Britain And Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic Of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic Of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic Of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic Of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic Of Korea' 'Rwanda'
 'Bosnia And Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic Of Moldova'
 'Isle Of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People'S Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic Of The Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte D'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad And Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People'S Republic Of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic Of The...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua And Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts And Nevis' 'Monaco' 'Micronesia, Federated States Of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [54]:
## Write your code here


# Standardize the "Country" column
country_mapping = {
    "USA": "United States",
    "U.S.A.": "United States",
    "United States of America": "United States",
    "India": "India",
    "INDIA": "India",
    "uk": "United Kingdom",
    "UK": "United Kingdom",
    "U.K.": "United Kingdom"
}

df["Country"] = df["Country"].replace(country_mapping)

# Standardize the "EdLevel" column
edlevel_mapping = {
    "Bachelors": "Bachelor's Degree",
    "Bachelor's": "Bachelor's Degree",
    "Masters": "Master's Degree",
    "Master's": "Master's Degree",
    "PhD": "Doctorate",
    "Doctorate (PhD)": "Doctorate",
    "High School": "High School Diploma",
    "Highschool": "High School Diploma"
}

df["EdLevel"] = df["EdLevel"].replace(edlevel_mapping)

# Check the standardized unique values in each column
print("Unique values in 'Country':\n", df["Country"].unique())
print("\nUnique values in 'EdLevel':\n", df["EdLevel"].unique())

Unique values in 'Country':
 ['United States Of America'
 'United Kingdom Of Great Britain And Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic Of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic Of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic Of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic Of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic Of Korea' 'Rwanda'
 'Bosnia And Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic Of Moldova'
 'Isle Of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People'S Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic Of The Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte D'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad And Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People'S Republic Of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic Of The...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua And Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts And Nevis' 'Monaco' 'Micronesia, Federated States Of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

Unique values in 'EdLevel':
 ['Primary/elementary school'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university study without earning a degree'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [55]:
## Write your code here

# Perform one-hot encoding on the "Employment" column
if "Employment" in df.columns:
    employment_encoded = pd.get_dummies(df["Employment"], prefix="Employment")

    # Add the one-hot encoded columns back to the DataFrame
    df = pd.concat([df, employment_encoded], axis=1)

    # Drop the original "Employment" column
    df = df.drop("Employment", axis=1)

    # Display the result
    print(df.head())

   ResponseId                      MainBranch                 Age RemoteWork  \
0           1  I am a developer by profession  Under 18 years old     Remote
1           2  I am a developer by profession     35-44 years old     Remote
2           3  I am a developer by profession     45-54 years old     Remote
3           4           I am learning to code     18-24 years old        NaN
4           5  I am a developer by profession     18-24 years old        NaN

    Check                                   CodingActivities  \
0  Apples                                              Hobby
1  Apples  Hobby;Contribute to open-source projects;Other...
2  Apples  Hobby;Contribute to open-source projects;Other...
3  Apples                                                NaN
4  Apples                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  \
0                                                NaN
1  Technical documentation;Blogs;Books;Written Tu...
2  Technical documentation;Blogs;Books;Written Tu...
3  Stack Overflow;How-to videos;Interactive tutorial
4  Technical documentation;Blogs;Written Tutorial...

                                             TechDoc  ...  \
0                                                NaN  ...
1  API document(s) and/or SDK document(s);User gu...  ...
2  API document(s) and/or SDK document(s);User gu...  ...
3                                                NaN  ...
4  API document(s) and/or SDK document(s);User gu...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Retired  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

  Employment_Student, full-time;Student, part-time  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, part-time  \
0                         False
1                         False
2                         False
3                         False
4                         False

  Employment_Student, part-time;Employed, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

  Employment_Student, part-time;Retired
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 223 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [56]:
## Write your code here

# Count missing values in each column
missing_values = df.isnull().sum()

# Sort columns by the number of missing values in descending order
missing_values_sorted = missing_values.sort_values(ascending=False)

# Filter and display columns with at least one missing value
columns_with_missing_values = missing_values_sorted[missing_values_sorted > 0]

print("Columns with the highest number of missing values:")
print(columns_with_missing_values)

Columns with the highest number of missing values:
AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
YearsCode                      5568
NEWSOSites                     5151
LearnCode                      4949
EdLevel                        4653
AISelect                       4530
Length: 109, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [58]:
## Write your code here


# Column name ConvertedCompYearly
column_to_impute = "ConvertedCompYearly"

# Check if the column exists in the DataFrame
if column_to_impute in df.columns:
    # Impute missing values with the mean or median
    mean_value = df[column_to_impute].mean()
    median_value = df[column_to_impute].median()

    # Impute with mean
    #df[column_to_impute] = df[column_to_impute].fillna(mean_value)
    # Impute with median (alternative to mean)
    df[column_to_impute] = df[column_to_impute].fillna(median_value)

print(f"Missing values in '{column_to_impute}' imputed with the {'mean' if df[column_to_impute].equals(df[column_to_impute].fillna(mean_value)) else 'median'}.")

    # Check for missing values after imputation
print("\nMissing values in the column after imputation:", df[column_to_impute].isnull().sum())

Missing values in 'ConvertedCompYearly' imputed with the mean.

Missing values in the column after imputation: 0

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [62]:
## Write your code here


# Column name  "RemoteWork"
column_to_impute = "RemoteWork"

# Check if the column exists in the DataFrame
if column_to_impute in df.columns:
    # Find the most frequent (mode) value in the categorical column
    most_frequent_value = df[column_to_impute].mode()[0]
    
# Impute missing values with the most frequent value (mode)
df[column_to_impute] = df[column_to_impute].fillna(most_frequent_value)

print(f"Missing values in '{column_to_impute}' imputed with the most frequent value: '{most_frequent_value}'.")

# Check for missing values after imputation
print("\nMissing values in the column after imputation:", df[column_to_impute].isnull().sum())


# Check if the column exists in the DataFrame
if column_to_impute in df.columns:
   # Find the most frequent (mode) value in the categorical column
   most_frequent_value = df[column_to_impute].mode()[0]

# Impute missing values with the most frequent value (mode)
df[column_to_impute] = df[column_to_impute].fillna(most_frequent_value)

print(f"Missing values in '{column_to_impute}' imputed with the most frequent value: '{most_frequent_value}'.")

# Check for missing values after imputation
print("\nMissing values in the column after imputation:", df[column_to_impute].isnull().sum())

Missing values in 'RemoteWork' imputed with the most frequent value: 'Hybrid (some remote, some in-person)'.

Missing values in the column after imputation: 0
Missing values in 'RemoteWork' imputed with the most frequent value: 'Hybrid (some remote, some in-person)'.

Missing values in the column after imputation: 0

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [64]:

from sklearn.preprocessing import MinMaxScaler  # Importing MinMaxScaler


# Column to normalize
column_to_normalize = "ConvertedCompYearly"

# Check if the column exists in the DataFrame
if column_to_normalize in df.columns:
    # Initialize MinMaxScaler
    scaler = MinMaxScaler()

    # Reshape the column to be a 2D array (required for MinMaxScaler)
    df[column_to_normalize] = scaler.fit_transform(df[[column_to_normalize]])

    # Display the result
    print(f"Min-Max scaling applied to '{column_to_normalize}'.")
    print(df[[column_to_normalize]].head())

Min-Max scaling applied to 'ConvertedCompYearly'.
   ConvertedCompYearly
0             0.003998
1             0.003998
2             0.003998
3             0.003998
4             0.003998

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [65]:
## Write your code here

import numpy as np  # Import numpy for log transformation


# Column to log-transform
column_to_transform = "ConvertedCompYearly"

# Check if the column exists in the DataFrame
if column_to_transform in df.columns:
    # Add a small constant to avoid log(0), which is undefined
    df[column_to_transform] = df[column_to_transform].apply(lambda x: np.log(x) if x > 0 else 0)

    # Display the result
    print(f"Log-transformation applied to '{column_to_transform}'.")
    print(df[[column_to_transform]].head())

Log-transformation applied to 'ConvertedCompYearly'.
   ConvertedCompYearly
0            -5.521882
1            -5.521882
2            -5.521882
3            -5.521882
4            -5.521882

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [67]:
import pandas as pd

# Column to base the experience level on
column_to_base = "YearsCodePro"

# Check if the column exists in the DataFrame
if column_to_base in df.columns:
    # Convert YearsCodePro to numeric values, coercing errors to NaN (in case of non-numeric values)
    df[column_to_base] = pd.to_numeric(df[column_to_base], errors='coerce')

    # Function to categorize experience level based on YearsCodePro
    def categorize_experience(years):
        if pd.isnull(years):  # Handle missing values
            return "Unknown"
        elif years <= 2:
            return "Entry-level"
        elif years <= 5:
            return "Mid-level"
        elif years <= 10:
            return "Senior-level"
        else:
            return "Expert-level"

    # Apply the function to create the new 'ExperienceLevel' column
    df['ExperienceLevel'] = df[column_to_base].apply(categorize_experience)

    # Display the result
    print("Experience level added based on 'YearsCodePro':")
    print(df[['YearsCodePro', 'ExperienceLevel']].head())

Experience level added based on 'YearsCodePro':
   YearsCodePro ExperienceLevel
0           NaN         Unknown
1          17.0    Expert-level
2          27.0    Expert-level
3           NaN         Unknown
4           NaN         Unknown

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.